body {
  margin: 0;
  display: flex;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background: #e6fff5;
  flex-direction: column;
  align-items: center;
  padding: 0;

}

.splash {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: #e6fff5;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.8s ease;
}

.splash.fade-out {
  opacity: 0;   /* Vai sumindo */
  pointer-events: none; /* Evita clicar nela */
}


.splash img {
  width: 600px;
  animation: zoomIn 2.5s ease forwards;
}
.splash.hidden { display: none; }

@keyframes zoomIn {
  from { transform: scale(0.5); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.loading {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.loading.hidden {
  display: none;
}
.loading.fade-in {
  opacity: 1;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid rgba(255,255,255,0.2);
  border-top: 6px solid #ffffff;
  border-radius: 50%;
  animation: spin 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite; 
}
@keyframes spin {
  100% { transform: rotate(360deg); }
}
